<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>G3Bot - Modeles</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body bgcolor="#C0C0C0" text="#000000" link="#0000CC" vlink="#660099"
      topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<center>
<br>

<!-- MAIN WINDOW -->
<table border="0" cellspacing="0" cellpadding="0">

<!-- Window shadow -->
<tr><td bgcolor="#808080">
<table border="0" cellspacing="0" cellpadding="0">
<tr><td bgcolor="#000000">
<table border="0" cellspacing="0" cellpadding="0">
<tr><td>

<!-- Window frame -->
<table border="0" cellspacing="1" cellpadding="0" bgcolor="#666666">
<tr><td bgcolor="#EEEEEE">

<!-- TITLE BAR -->
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
  <td bgcolor="#CCCCCC" height="18">
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td align="center">
        <font face="Charcoal, Geneva, Chicago, Arial, sans-serif" size="2" color="#000000">
          <b>G3Bot &mdash; {{ models|length }} modele(s) gratuit(s)</b>
        </font>
      </td>
    </tr>
  </td>
</tr>
<tr><td bgcolor="#BBBBBB" height="1"></td></tr>
</table>

<!-- CONTENT AREA -->
<table border="0" cellspacing="0" cellpadding="6" width="100%">
<tr><td>

<!-- ACTION BUTTONS -->
<table border="0" cellspacing="2" cellpadding="0">
<tr>
  <td>
    <table border="0" cellspacing="0" cellpadding="0">
    <tr><td bgcolor="#FFFFFF">
    <table border="0" cellspacing="1" cellpadding="0">
    <tr><td bgcolor="#999999">
    <form method="GET" action="/"><input type="submit" value="&laquo; Retour"></form>
    </td></tr>
    </table>
    </td></tr>
    </table>
  </td>
  <td>
    <table border="0" cellspacing="0" cellpadding="0">
    <tr><td bgcolor="#FFFFFF">
    <table border="0" cellspacing="1" cellpadding="0">
    <tr><td bgcolor="#999999">
    <form method="POST" action="/refresh"><input type="submit" value="Rafraichir"></form>
    </td></tr>
    </table>
    </td></tr>
    </table>
  </td>
</tr>
</table>

<br>

{% if models %}
<!-- MODELS TABLE -->
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr><td bgcolor="#FFFFFF">
<table border="0" cellspacing="1" cellpadding="0" width="100%">
<tr><td bgcolor="#999999">

<!-- Header row -->
<table border="0" cellspacing="0" cellpadding="3" width="100%">
<tr bgcolor="#DDDDDD">
  <td width="120"><font face="Charcoal, Geneva, Chicago, Arial, sans-serif" size="1"><b>Compagnie</b></font></td>
  <td><font face="Charcoal, Geneva, Chicago, Arial, sans-serif" size="1"><b>Modele</b></font></td>
  <td width="60" align="center"><font face="Charcoal, Geneva, Chicago, Arial, sans-serif" size="1"><b>Ctx</b></font></td>
  <td width="300"><font face="Charcoal, Geneva, Chicago, Arial, sans-serif" size="1"><b>Description</b></font></td>
</tr>
{% for m in models %}
<tr bgcolor="{% if loop.index is odd %}#F0F0F0{% else %}#FFFFFF{% endif %}" valign="top">
  <td><font face="Geneva, Chicago, Arial, sans-serif" size="1">{{ m.company }}</font></td>
  <td><font face="Geneva, Chicago, Arial, sans-serif" size="1">{{ m.name }}</font></td>
  <td align="center"><font face="Geneva, Chicago, Arial, sans-serif" size="1">{{ m.context }}</font></td>
  <td><font face="Geneva, Chicago, Arial, sans-serif" size="1">{{ m.description[:150] }}{% if m.description|length > 150 %}...{% endif %}</font></td>
</tr>
{% endfor %}
</table>

</td></tr>
</table>
</td></tr>
</table>
{% else %}
<br>
<font face="Geneva, Chicago, Arial, sans-serif" size="2" color="#990000">
  Aucun modele disponible. Verifiez la cle API ou rafraichissez.
</font>
{% endif %}

<br>

<!-- BACK BUTTON -->
<table border="0" cellspacing="0" cellpadding="0">
<tr><td bgcolor="#FFFFFF">
<table border="0" cellspacing="1" cellpadding="0">
<tr><td bgcolor="#999999">
<form method="GET" action="/"><input type="submit" value="&laquo; Retour a G3Bot"></form>
</td></tr>
</table>
</td></tr>
</table>

</td></tr>
</table>

</td></tr>
</table>

</td></tr>
</table>
</td></tr>
</table>

</center>

</body>
</html>
